body {
    font-family: "Rubik Mono One", monospace;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #428A85;
    transition: background-color 0.5s;
}

.container {
    text-align: center;
}

#name {
    color: #FFDB82;
    text-decoration: none;
    font-size: 48px; /* Increased font size */
    font-weight: bold; /* Added font weight */
    transition: color 0.5s;
}

#name:hover {
    color: #F67694;
}

.social-icons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    display: inline-block;
    margin: 0 20px;
}

.icon img {
    width: 100px; /* Resized the logos */
    height: 100px;
    transition: filter 0.5s;
}

#instagram:hover img {
    filter: hue-rotate(300deg) brightness(1.5); /* Changed hover effect */
}

#whatsapp:hover img {
    filter: hue-rotate(150deg) brightness(1.5); /* Changed hover effect */
}

#quote {
    font-family: "Nova Mono", monospace;
    color: black;
    margin-top: 20px;
    font-size: 24px; /* Increased font size */
    font-weight: bold; /* Added font weight */
}
