body {
    font-family: "Rubik Mono One", monospace;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #428A85;
    transition: background-color 0.5s;
}

.container {
    text-align: center;
}

#name {
    color: #FFDB82;
    text-decoration: none;
    font-size: 36px;
    transition: color 0.5s;
}

#name:hover {
    color: #F67694;
}

.social-icons {
    margin-top: 20px;
}

.icon {
    display: inline-block;
    margin: 0 20px;
    transition: filter 0.5s;
}

#instagram:hover {
    filter: grayscale(100%) sepia(100%) hue-rotate(300deg);
}

#whatsapp:hover {
    filter: grayscale(100%) sepia(100%) hue-rotate(150deg);
}

#quote {
    font-family: "Nova Mono", monospace;
    color: black;
    margin-top: 20px;
}
